.holder{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.item{
	width: 100px;
	height: 100px;
}
.item:first-child{
	background-color: red;
}
.item:nth-child(2){
	background-color: blue;
	order: 1;
}
.item:last-child{
	background-color: green;
	order: -1;
}